################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VanhackRecruitAPI/.vs/VanhackRecruitAPI/v16/Server/sqlite3
